# Configuración de Base de Datos (PostgreSQL Local)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=techstore_db

# Configuración de MongoDB Local
MONGO_URI=mongodb://127.0.0.1:27017/techstore_catalog

# Configuración de Stripe (Vacío para seguridad)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# JWT Config
JWT_SECRET=techstore_pro_secret_key_2026
JWT_EXPIRATION=24h

# App Config
PORT=3000
NODE_ENV=development

# SMTP Config (Vacío para seguridad)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=TechStore <no-reply@techstore.com>
